small{
    margin-left: 15px;
    color:red;
}

input .ng-invalid{
    border-left:5px solid red;
}
.error
{
    color:red;
}
.form-control.ng-touched.ng-invalid
{
    border:1px solid red;
}
.form-control.ng-touched.ng-valid
{
    border:1px solid green;
}
input:focus::placeholder {
    color: transparent;
  }
 .container-fluid{
     margin:0;
     padding:0;
 } 
 .nav-link
{
    cursor: pointer;
}