<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
      
    <li class="nav-item active">
      <a class="navbar-brand" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="/add" routerLinkActive="active" (click)="gotoaddstudent()">Add Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/students" routerLinkActive="active" (click)="gotoStudentList()">Students List</a>
        </li>
  </ul>

</nav>
<div class="container-fluid">
  <br>
  <hr>  
</div>
<div class="card-body">
<h3>Update Student</h3>
 <div class="card">
  <form [formGroup]="updateStudentForm"(ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="row">
        <div class="col">
    <div class="form-group">
      <label for="name">Course Id</label>
      <input type="text" class="form-control" id="courseId" formControlName="courseId" [(ngModel)]="student.courseId" name="courseId"
      autocomplete="off">
      <small class="error" *ngIf="courseId?.invalid">*Course ID is required*</small>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="name">Student Id</label>
      <input type="text" class="form-control" id="studentId" formControlName="studentId"[(ngModel)]="student.studentId" name="studentId"
    readonly>
    </div>
  </div>
</div>
</div>

<div class="card-body">
  <div class="row">
    <div class="col">
    <div class="form-group">
      <label for="name">Student First name</label>
      <input type="text" class="form-control" id="firstName" formControlName="firstName"  [(ngModel)]="student.firstName" name="firstName"
      autocomplete="off" placeholder="Enter your first name">
      <small class="error" *ngIf="firstName?.invalid">*First name is required*</small>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
        <label for="name">Student Last name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName" [(ngModel)]="student.lastName" name="lastName"
        autocomplete="off" placeholder="Enter your last name">
        <small class="error" *ngIf="lastName?.invalid ">*Last name is required*</small>
      </div>
    </div>
  </div>
</div>
    
     <div class="card-body">
       <div class="row">
         <div class="col">
      <div class="form-group">
        <label for="name">Select Gender : </label>
        <select name="gender" id="gender"formControlName="gender" [(ngModel)]="student.gender" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="name">Student semester</label>
        <input type="text" class="form-control" id="semester" formControlName="semester" [(ngModel)]="student.semester" name="semester"
        autocomplete="off" placeholder="Enter the semester" numbersOnly>
        <small class="error" *ngIf="semester?.invalid ">*Semester is required*</small>
      </div>
    </div>
  </div>
</div>

      <div class="card-body">
        <div class="row">
          <div class="col">
      <div class="form-group">
        <label for="name">Student mobile no.</label>
        <input type="tel" class="form-control" id="mobileNumber" formControlName="mobileNumber"  [(ngModel)]="student.mobileNumber" name="mobileNumber"
        autocomplete="off" placeholder="Enter student mobile no">
        <small class="error" *ngIf="mobileNumber?.invalid ">*Mobile number is required*</small>
      </div>
    </div>
    <div class="col">
       <div class="form-group">
        <label for="name">Student email</label>
        <input type="email" class="form-control" id="emailId" formControlName="emailId"[(ngModel)]="student.emailId" name="emailId"
        autocomplete="off" placeholder="Enter student email">
        <small class="error" *ngIf="emailId?.invalid ">*Email is required*</small>
      </div>
    </div>
  </div>
</div>
    <div class="card-body">
      <div class="row">
        <div class="col">
      <div class="form-group">
        <label for="name">Father email</label>
        <input type="email" class="form-control" id="fatherEmailId" formControlName="fatherEmailId" [(ngModel)]="student.fatherEmailId" name="fatherEmailId"
        autocomplete="off" placeholder="Enter father email">
        <small class="error" *ngIf="fatherEmailId?.invalid">*Email is required*</small>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="name">Father mobile no.</label>
        <input type="tel" class="form-control" id="fatherMobileNumber" formControlName="fatherMobileNumber"[(ngModel)]="student.fatherMobileNumber" name="fatherMobileNumber"
        autocomplete="off" placeholder="Enter father mobile no">
        <small class="error" *ngIf="fatherMobileNumber?.invalid">*Mobile number is required*</small>
      </div>
    </div>
  </div>
</div>
     <div class="card-body">
       <div class="row">
         <div class="col">
      <div class="form-group">
        <label for="name">Student dob</label>
        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth" [(ngModel)]="student.dateOfBirth" name="dateOfBirth">
      </div>
    </div>
  </div>
</div>
  
  <div class="card-body">
    <div class="col">
      <button type="submit" style='margin-right:16px' class="btn btn-success">Submit</button>
      <button type="button" style='margin-right:16px' (click)="gotoStudentList()" class="btn btn-primary">Back to Students</button>
    </div>
  </div>
  </form>
  <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2021 @shilpa</span>
    </div>
  </footer>

</div>